spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  data:
    redis:
      host: ${SPRING_REDIS_HOST}
      port: ${SPRING_REDIS_PORT}

jwt:
  secret: ${JWT_SECRET}
  expiration-in-ms: 86400000

elice:
  api-url: ${INVENTORY_API_URL}
  api-key: ${INVENTORY_API_KEY}
  model: ${ELICE_MODEL:gemini-2.5-flash}

kakao:
  api-key: ${KAKAO_API_KEY}

aws:
  s3:
    bucket: ${AWS_S3_BUCKET}
    region: ${AWS_S3_REGION}

server:
  port: 8080
