name: Java CI/CD with Gradle

on:
  push:
    branches: [ "main" ] # main 브랜치에 push될 때 실행

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Build with Gradle
      run: |
        chmod +x gradlew
        ./gradlew clean build -x test

    - name: Copy JAR to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_KEY }}
        source: "build/libs/*.jar"
        target: "~/"
        strip_components: 2

    - name: Execute Remote SSH
      uses: appleboy/ssh-action@v1.0.3
      env:
        SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
        SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
        SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
        SPRING_REDIS_HOST: ${{ secrets.SPRING_REDIS_HOST }}
        SPRING_REDIS_PORT: ${{ secrets.SPRING_REDIS_PORT }}
        FASTAPI_BASE_URL: ${{ secrets.FASTAPI_BASE_URL }}
        KAKAO_API_KEY: ${{ secrets.KAKAO_API_KEY }}
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_KEY }}
        envs: SPRING_DATASOURCE_URL,SPRING_DATASOURCE_USERNAME,SPRING_DATASOURCE_PASSWORD,JWT_SECRET,SPRING_REDIS_HOST,SPRING_REDIS_PORT,FASTAPI_BASE_URL,KAKAO_API_KEY
        script: |
          sudo fuser -k 8080/tcp || true

          nohup java -jar ~/marketing-0.0.1-SNAPSHOT.jar \
            --spring.profiles.active=prod \
            > ~/app.log 2>&1 &
